@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
    text-align: center;
}

body {
    width: 1920px;
    height: 1080px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    background-color: #000;
    color: #fff;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* -------------------------LOG IN------------------------------ */

#mainLogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoLogIn>img {
    width: 600px;
    height: auto;
    /* border: 1px solid white; */
    align-self: flex-start;
}

.google-btn {
    width: 220px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    width: 22px;
    height: 22px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: "Roboto";
}

/* ----------------------NO PARTNER---------------------- */

#containerNoPartner {
    display: flex;
    justify-content: center;
    height: 73vh;
    align-items: center;

}


#noPartner {
    border: 2px solid white;
    padding: 80px;
}



/* ----------------------HOME---------------------------- */
#homeHeader {
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 150px;
    border-radius: 6px;
}

#logoHeader {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logoHeader>img {
    width: 600px;
    height: auto;
    align-self: flex-start;
}

#userHeader {
    border-left: 2px solid white;
    border-radius: 6px;
    flex: 0 0 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#iconUser {
    flex: 0 0 27%;
    font-size: 60px;
    margin-right: -140px;
    margin-top: 12px;
    color: white;
}

h2 {
    flex: 0 0 58%;
    font-size: 2.6em;
    color: white;
}

#signOut_button {
    flex: 0 0 20%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 2em;
    box-shadow: 0 0 5px 5px #505050;
}


/* --------------------TODAS-------------------------- */

.Todas {
    font-family: "Open Sans", sans-serif;
    color: white;
    background: black;
    font-size: 25px;
}

.Todas h1 {
    text-align: center;
    color: white;
    margin: 30px 0px 60px 0px;
}

.tituloPelicula {
    margin-bottom: 0;
    font-size: 1.3em;
    text-decoration: underline;
}

.Todas-contenedor {

    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
}

.Todas-flecha-izq {
    padding: 0 10px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.Todas-flecha-izq:hover {
    cursor: pointer;
}

.Todas-poster-izq {
    text-align: center;
    margin: 0 0 0 50px;
}

.Todas-poster-izq img {
    /* min-width: 200px; */
    min-height: 510px;
    /* max-width: 500px; */
    max-height: 510px;
    opacity: 0.4;
    box-shadow: 0 0 10px 10px #505050;
}

.Todas-poster-izq:hover {
    cursor: pointer;
}

.Todas-poster-central {
    text-align: center;
    margin: 0 45px;
}

.Todas-poster-central img {
    /* min-width: 300px; */
    min-height: 620px;
    /* max-width: 600px; */
    max-height: 620px;
    box-shadow: 0 0 10px 10px #505050;
}

.Todas-poster-central:hover {
    cursor: pointer;
}

.Todas-poster-der {
    padding: 0;
    margin: 0 50px 0 0;
    border: 0;
    text-align: center;
}

.Todas-poster-der img {
    /* min-width: 200px; */
    min-height: 510px;
    /* max-width: 500px; */
    max-height: 510px;
    opacity: 0.4;
    box-shadow: 0 0 10px 10px #505050;
}

.Todas-poster-der:hover {
    cursor: pointer;
}

.Todas-flecha-der {
    padding: 0 10px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.Todas-flecha-der:hover {
    cursor: pointer;
}



/* --------------------TODAS-------------------------- */

.Todas-dislike-izq {
    padding: 0 10px;
    text-align: center;
    color: white;
    font-size: 160px;
    margin: 0px 90px;
}


.Todas-like-der {
    padding: 0 10px;
    text-align: center;
    color: white;
    font-size: 160px;
    margin: 0px 90px;
}