@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        color: #ccd0da;
        text-decoration: underline;
    }

    #main {
        width: 100%;
    }


    /* -------------------------LOG IN------------------------------ */
    #mainLogIn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logoLogIn>img {
        width: 300px;
        height: auto;
        /* border: 1px solid white; */
        align-self: flex-start;
    }

    .google-btn {
        width: 220px;
        height: 42px;
        background-color: #4285f4;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
        cursor: pointer;
    }

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
    }

    .google-icon {
        position: absolute;
        margin-top: 10px;
        margin-left: -10px;
        width: 22px;
        height: 22px;
    }

    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: #fff;
        font-size: 17px;
        letter-spacing: 0.5px;
        font-family: "Roboto";
    }

    /* ----------------------NO PARTNER---------------------- */

    #containerNoPartner {
        display: flex;
        justify-content: center;
        height: 73vh;
        align-items: center;
        width: 95%;
        margin-left: 2.5%;
    }


    #noPartner {
        border: 1px solid white;
        padding: 40px 20px 40px 20px;
        font-size: 1em;
        text-decoration: none;
    }




    /* -------------------------HOME------------------------------ */
    #homeHeader {
        border-bottom: 2px solid white;
        display: flex;
        flex-direction: row;
        background-color: black;
        width: 100%;
        height: 85px;
        border-radius: 0 0 6px 6px;
    }

    #logoHeader {
        flex: 0 0 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #logoHeader>img {
        width: 200px;
        height: auto;
        align-self: flex-start;
    }

    #userHeader {
        border-left: 2px solid white;
        flex: 0 0 35%;
    }

    h2 {
        font-size: 1.1em;
        color: white;
    }

    #signOut_button {
        flex: 0 0 20%;
        padding: 5px;
        border-radius: 10px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        font-weight: 600;
        box-shadow: 0 0 1px 1px #505050;
        font-size: 0.7em;
        margin-top: -5px;
    }


    #homeContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 88vh;
        justify-content: center;
        align-items: center;
    }

    .screen_button {
        padding: 30px 15px 30px 15px;
        width: 80%;
        border-radius: 10px;
        font-size: 1.3em;
        margin-bottom: 10%;
        border-radius: 10px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        font-weight: 600;
        box-shadow: 4px 4px 5px 5px #505050;
    }


    /* --------------------DESCUBRE-------------------------- */
    #descubreContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 85vh;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    #categoria {
        height: 80px;
    }

    #gestos {
        width: 100%;
        display: flex;
        border: 1px solid white;
        height: 65vh;
        justify-content: center;
        align-items: center;
        color: white
    }

    .descubrePlay {
        flex: 1 0 30%;
        padding: 3px;
        border: 1px solid purple;
        border-radius: 20px;
        text-align: center;
    }

    .descubreGesto {
        flex: 1 0 20%;
        padding: 0 10px;
        border: 1px solid red;
        text-align: center;
    }

    #footer {
        width: 101%;
        height: 8vh;
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        background-color: black;
        align-items: center;
        position: absolute;
        bottom: -3px;
    }


    .menubutton {
        padding: 0px 28px;
        width: fit-content;

        color: white;
        background-color: transparent;
        border: 0;
    }

    #homeButton {
        font-size: 1.9em;
    }

    #returnbutton {
        font-size: 2.2em;
        margin-top: 7px;
    }

    /* --------------------FAVORITAS-------------------------- */


    #gestosFav {
        width: 100%;
        display: flex;
        height: 65vh;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .voiceIcon {
        border-radius: 20px;
        text-align: center;
        font-size: 3.5em;
        border: 2px solid white;
        padding: 20px 20px 11px 20px;
    }


    .voiceInfo {
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        font-size: 1.2em;
        border: 1px solid white;
        align-items: center;
        width: 70%;
    }

 


    /* --------------------VIDEO-------------------------- */
    #videoContainer {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 85vh;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }


    #titleVideo {
        display: flex;
        height: 81px;
        align-items: center;
        justify-content: center;
    }

    #title {
        font-size: 1.4em;
    }

    .gestosVideo {
        width: 100%;
        display: flex;
        border: 1px solid red;
        height: 65vh;
        color: white;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #upVideo {
        flex: 1 0 100%;
    }

    #leftVideo {
        flex: 0 0 33%;
    }

    #centerVideo {
        flex: 0 0 33%;
    }

    #rightVideo {
        flex: 0 0 33%;
    }

    #downVideo {
        flex: 1 0 100%;
    }

}